@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700);
.css-crop {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-repeat: no-repeat;
}
.css-crop.bg-cover {
  background-size: cover;
  /*-ms-behavior: url("/styles/backgroundsize.min.htc"); doesn't work on IE8-9...*/
  background-position: center;
}
.css-crop.bg-contain {
  background-size: contain;
  background-position: center;
}
.clear-margin {
  margin: 0;
  padding: 0;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.clickable {
  cursor: pointer;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block !important;
}
.nomargin {
  margin: 0px !important;
}
.nowrap {
  white-space: nowrap;
}
.centered {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.first {
  margin-top: 0px !important;
}
.last {
  margin-bottom: 0px !important;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.mejs-overlay-button {
  display: none;
}
[data-id=new] [data-field=title] {
  display: none;
}
.cv-viewer p {
  min-height: 1em;
}
.cv-viewer .vcv-header {
  margin: 30px auto;
  max-width: 1020px;
  position: relative;
}
.cv-viewer .vcv-header #social-share {
  text-align: right;
  position: absolute;
  left: -80px;
  top: 80px;
  z-index: 1050;
  opacity: 0;
}
.cv-viewer .vcv-header #social-share .share-button {
  min-height: 30px;
}
.cv-viewer .vcv-header #social-share .share-button.subtle {
  opacity: 0.75;
}
.cv-viewer .vcv-header .banner-top {
  padding-left: 90px;
  position: relative;
  margin-top: -10px;
  margin-bottom: -30px;
  z-index: 0;
  opacity: 0.5;
  display: inline-block;
}
.cv-viewer .vcv-header .banner-top:hover {
  opacity: 0.8;
  -webkit-transition-property: transform opacity;
  -moz-transition-property: transform opacity;
  transition-property: transform opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.cv-viewer .vcv-logo {
  height: 40px;
  display: block;
  padding: 5px 0;
}
.cv-viewer .cv-container article .empty {
  display: none !important;
}
.cv-viewer footer.vcv-footer {
  margin-top: 100px;
  color: #333;
  text-align: center;
}
.cv-viewer footer .powered-by {
  margin-top: 0px;
}
.cv-viewer footer .updated-at {
  opacity: 0.5;
}
.cv-fullscreen {
  position: relative;
}
.cv-fullscreen .powered-by a {
  color: white;
}
.cv-fullscreen .vcv-header {
  display: none;
}
.cv-fullscreen .vcv-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  margin-top: 50px;
}
.cv-fullscreen .vcv-footer .updated-at {
  display: block;
  margin-bottom: 1em;
  opacity: 0.75;
}
.editor-visible {
  display: none;
}
.cv-editor .cv-container {
  margin: 0px auto 150px auto;
}
.cv-editor .cv-container .editor-visible {
  display: block;
}
.cv-container,
.cv-content {
  opacity: 1 !important;
}
.cv-container {
  display: block;
  margin: 0px auto 10px auto;
  min-height: 500px;
  padding: 50px 6.5%;
  max-width: 1020px;
  background: white;
  border-radius: 1px;
  z-index: 10;
}
.cv-container .nowrap-list li {
  white-space: nowrap;
}
.cv-container section {
  position: relative;
  word-wrap: break-word;
}
.cv-container article:after {
  content: '';
  display: block;
  clear: both;
}
.cv-container .main section:first-child .edit-section .sort-up,
.cv-container .cv-content section:first-child .edit-section .sort-up {
  display: none;
}
.cv-container .main section:last-of-type .edit-section .sort-down,
.cv-container .cv-content section:last-of-type .edit-section .sort-down {
  display: none;
}
.cv-container #profile .edit-section {
  display: none;
}
.cv-container #references .date-range {
  display: none !important;
}
.cv-container #references .article-body {
  width: 100%;
}
.cv-container svg {
  overflow: visible;
}
.cv-container table {
  width: 100%;
}
.cv-container .morris-hover {
  display: none !important;
}
.cv-container input[type=month] {
  position: relative;
  border: none;
  max-width: 100%;
  content: attr(placeholder);
  display: inline-block;
}
.cv-container input[type=month]:before {
  content: attr(placeholder);
  position: absolute;
}
.cv-container .gallery .asset-thumb {
  display: block;
}
.cv-container .asset label.empty {
  display: block !important;
}
.cv-container .btn {
  margin-bottom: 15px;
}
.cv-container .btn i.subtle {
  opacity: 0.2;
}
.cv-container .btn i {
  opacity: 0.5;
}
.cv-container .btn.btn-glass {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
}
.cv-container a[href] {
  color: #428bca;
}
.cv-container a[href] [data-bind=organization] {
  color: #428bca;
}
.cv-container [data-bind=organization_url] {
  display: block;
}
.cv-container [data-bind=end_date]:before {
  content: ' - ';
}
.cv-container .add-section {
  max-width: 850px;
  margin: 0px auto;
}
.cv-container .cv-content:after {
  content: '';
  display: block;
  clear: both;
}
.cv-container .cv-content .user-thumb {
  display: none;
}
.cv-container .cv-content .user-thumb.visible {
  display: inherit;
}
.cv-container .asset-thumb {
  position: relative;
  cursor: pointer;
  display: block;
}
.cv-container .asset-thumb .asset-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15%;
  z-index: 100;
  opacity: 0.5;
}
.cv-container .asset-thumb .asset-overlay:hover {
  opacity: 0.75;
}
.cv-container .asset-thumb .asset-overlay.youtube {
  background-image: url("/images/icons/play.png");
}
.cv-container .asset-thumb .asset-overlay img {
  page-break-inside: avoid;
}
.cv-container .asset label.ellipsis > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
@media (max-width: 992px) {
  #social-share {
    display: none;
  }
  .vcv-header a {
    display: block;
    margin-bottom: 15px;
  }
  .vcv-header .vcv-logo {
    display: inline;
  }
  .vcv-header .btn {
    width: 100%;
  }
}
.pdf .cv-container .chart-container {
  width: 850px;
}
.pdf .cv-container .cv-content {
  padding: 0px;
}
.pdf .cv-container .portfolio .css-crop {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf .cv-container .user-thumb {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf body,
.embed body {
  background: white !important;
}
.pdf .container,
.embed .container {
  padding: 0px;
  margin: 0px auto;
  width: 100%;
}
.pdf .cv-container,
.embed .cv-container {
  padding: 0px !important;
  margin-bottom: 0px !important;
  max-width: 100% !important;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf .cv-container section:last-of-type,
.embed .cv-container section:last-of-type,
.pdf .cv-container section:last-of-type article:last-of-type,
.embed .cv-container section:last-of-type article:last-of-type,
.pdf .cv-container section:last-of-type article:last-of-type,
.embed .cv-container section:last-of-type article:last-of-type,
.pdf .cv-container p:last-of-type,
.embed .cv-container p:last-of-type,
.pdf .cv-container .content-container,
.embed .cv-container .content-container,
.pdf .cv-container .cv-content,
.embed .cv-container .cv-content {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.pdf .vcv-header,
.embed .vcv-header,
.pdf .vcv-footer,
.embed .vcv-footer {
  display: none;
}
.pdf header,
.embed header,
.pdf .header-text,
.embed .header-text {
  page-break-after: avoid;
  page-break-inside: avoid;
}
.pdf .no-page-break,
.embed .no-page-break,
.pdf .css-crop,
.embed .css-crop,
.pdf pre,
.embed pre,
.pdf blockquote,
.embed blockquote,
.pdf img,
.embed img,
.pdf svg,
.embed svg,
.pdf .chart-graph,
.embed .chart-graph,
.pdf .chart-container,
.embed .chart-container,
.pdf .asset,
.embed .asset {
  page-break-inside: avoid;
}
.pdf .no-page-break p,
.embed .no-page-break p {
  page-break-inside: avoid;
}
.pdf .page-break,
.embed .page-break {
  page-break-before: always;
}
.pdf thead,
.embed thead {
  display: table-header-group;
}
.pdf p,
.embed p {
  orphans: 4;
  widows: 4;
}
@page {
  size: A4 portrait;
}
.cv-container {
  font-family: "Roboto", "Open Sans", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
  font-weight: 300;
  font-size: 15px;
  background: white;
  padding: 0px;
}
.cv-container .cv-content {
  padding: 3em 0px;
  margin: 0px;
  position: relative;
}
.cv-container .cv-content:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  background: #425370;
}
.cv-container h2,
.cv-container h3,
.cv-container h4,
.cv-container h5,
.cv-container h6,
.cv-container label {
  margin-top: 0px;
  margin-bottom: 0.2em;
  font-weight: 300;
}
.cv-container h5 {
  margin: 0 0 0.2em;
}
.cv-container h1,
.cv-container h3 {
  font-family: "Roboto Condensed", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
}
.cv-container h1 {
  font-size: 225%;
  margin: 0px;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 200;
  color: white;
  text-align: center;
  margin-bottom: 0.25em;
}
.cv-container h2 {
  font-size: 150%;
  font-style: italic;
  text-align: center;
}
.cv-container h3 {
  font-weight: 700;
  font-size: 150%;
}
.cv-container h4,
.cv-container h5 {
  font-weight: 400;
  font-size: 125%;
}
.cv-container h5 {
  color: #555555;
}
.cv-container h6 {
  font-size: 125%;
  color: #555555;
}
.cv-container strong {
  font-weight: 700;
}
.cv-container section {
  clear: both;
  margin-bottom: 2.5em;
}
.cv-container section header {
  width: 100%;
  margin-bottom: 2.25em;
  text-align: left;
}
.cv-container section header .header-text {
  padding: 0px 0.5em 0px 0px;
  background: white;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0em 2px 0px 0px;
  z-index: 2;
  position: relative;
}
.cv-container section header:after {
  content: '';
  display: block;
  top: 1em;
  border-bottom: 1px solid #dedede;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}
.cv-container section header {
  margin-bottom: 1.25em;
}
.cv-container .column-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.cv-container .main {
  width: 67%;
}
.cv-container .sidebar {
  padding: 0% 3%;
  width: 33%;
  color: white;
  z-index: 1;
}
.cv-container .sidebar .header-text {
  background-color: #425370;
}
.cv-container .sidebar article a {
  color: white;
}
.cv-container .sidebar .user-contact li,
.cv-container .sidebar .user-links li {
  margin-bottom: 0.75em;
}
.cv-container .sidebar .user-title {
  padding: 15px 0px;
}
.cv-container .sidebar .user-thumb {
  max-width: 50%;
  margin: 0px auto;
  border: 1px solid white;
  padding: 4px;
  border-radius: 100%;
  margin-top: 1px;
}
.cv-container .sidebar .user-thumb .css-crop {
  padding-bottom: 100%;
  border-radius: 100%;
}
.cv-container .sidebar article.contact_info {
  margin-bottom: 2em;
}
.cv-container .sidebar .margin-top {
  margin-top: 1.5em;
}
.cv-container .sidebar .contact-field {
  margin-bottom: 1em;
}
.cv-container .sidebar .contact-field h4 {
  margin-bottom: 0px;
}
.cv-container .sidebar .competency h6 {
  color: white;
}
.cv-container .sidebar .competency .competency-list {
  padding: initial;
}
.cv-container .sidebar .competency .competency-list li {
  opacity: 0.2;
  background-color: white;
}
.cv-container .sidebar .competency .competency-list li.filled {
  opacity: 1;
}
.cv-container .vcard ul.user-contact li:before {
  font-family: FontAwesome;
  display: inline-block;
  width: 1em;
  margin-right: 0.25em;
}
.cv-container .vcard li.adr:before {
  content: "\f041";
}
.cv-container .vcard li.phone:before {
  content: "\f095";
}
.cv-container .vcard li.email:before {
  content: "\f003";
}
.cv-container .main {
  padding: 2em 3%;
  padding-top: 0px;
}
.cv-container .main h3 {
  color: #555555;
}
.cv-container .main .header-text {
  background-color: white;
}
.cv-container #summary header {
  text-align: center;
}
.cv-container #summary header .header-text {
  padding: 0px 0.5em;
}
.cv-container #summary article {
  margin-top: 0px;
  text-align: center;
  padding: 0em 1.5em;
  font-size: 115%;
  font-weight: 200;
}
.cv-container article {
  clear: both;
  margin-bottom: 1.25em;
}
.cv-container .dated_story .article-headings {
  float: left;
  width: 18%;
  margin-right: 1%;
}
.cv-container .dated_story .article-body {
  float: left;
  width: 81%;
}
.cv-container .dated_story#references .article-headings {
  display: none;
}
.cv-container .dated_story#references .article-body {
  width: 100%;
}
.cv-container .competency-list {
  list-style: none;
  width: 100%;
  padding-left: 0.25em;
}
.cv-container .competency-list li {
  height: 1em;
  width: 8%;
  margin-right: 2%;
  background-color: #cccccc;
  -webkit-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -moz-transform-origin: skewX(-30deg);
  -o-transform-origin: skewX(-30deg);
  transform: skewX(-30deg);
  display: inline-block;
}
.cv-container .competency-list li.filled {
  background-color: #425370;
}
.cv-container .portfolio .row {
  margin-left: -5px;
  margin-right: -5px;
}
.cv-container .portfolio .col-sm-4 {
  padding-left: 5px;
  padding-right: 5px;
}
.cv-container .portfolio .asset .asset-description {
  display: none;
}
.cv-container .portfolio label {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
  min-height: 1.5em;
}
.cv-container .portfolio .css-crop {
  width: 100%;
  padding-bottom: 75%;
  background-size: cover;
  background-position: center center;
  border: 1px solid #425370;
  -webkit-box-shadow: 1px 1px 3px 0px #cccccc;
  box-shadow: 1px 1px 3px 0px #cccccc;
}
.cv-container .portfolio a label {
  cursor: pointer;
}
.cv-container .sidebar .portfolio .asset {
  padding-left: 0px;
  padding-right: 0px;
}
.cv-container .sidebar .portfolio .css-crop {
  border: 0px;
  padding: 0px;
  height: auto;
  background-image: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cv-container .sidebar .portfolio .css-crop img {
  display: block !important;
}
@media (min-width: 768px) {
  .cv-container .sidebar .portfolio label {
    text-align: left;
  }
  .cv-container .sidebar .portfolio .asset,
  .cv-container .sidebar .portfolio .asset-thumb {
    width: 100%;
  }
  .cv-container .sidebar .portfolio .asset-description {
    display: block;
  }
}
.cv-container .portfolio label {
  font-weight: initial;
}
.cv-container .portfolio .css-crop {
  width: 100%;
  padding-bottom: 75%;
  border: 2px solid #425370;
  border-radius: 2em 0px 2em 0px;
  box-shadow: 1px 1px 3px 0px #dedede;
}
.cv-container .edit-new {
  width: 100%;
  margin-bottom: 0px;
}
.cv-container .sidebar .add-section a.btn {
  color: white;
}
@media (max-width: 768px) {
  .cv-container .cv-content {
    padding: 0px 0px 3em 0px;
  }
  .cv-container .cv-content:before {
    content: none;
  }
  .cv-container #summary article {
    padding: 0px;
  }
  .cv-container .column-container {
    display: block;
  }
  .cv-container .main {
    padding: 2em 5% !important;
    width: 100%;
    display: block;
  }
  .cv-container .sidebar {
    padding: 3em 5% !important;
    background-color: #425370;
    float: none;
    width: 100% !important;
  }
  .cv-container article .article-headings,
  .cv-container article .article-body {
    width: 100% !important;
  }
}
.pdf body > .container {
  padding: 0px;
}
.pdf .cv-container {
  margin: 0px;
}
.pdf .cv-container .cv-content {
  padding-top: 1px;
}
.pdf .cv-container .header-text:after {
  padding-right: 0em;
  content: " \00a0";
}
.pdf .cv-container .chart-container {
  width: 600px !important;
}
.pdf .cv-container .main > *:last-child,
.pdf .cv-container .sidebar > *:last-child {
  page-break-after: always;
}
.pdf .cv-container .main {
  padding: 0 3%;
}
@page {
  margin: 1.2cm;
}
@page :first {
  margin-top: 0cm;
}
